/*
  This is a reasonable starting point for the CSS in Mock.
  Positioning in CSS can sometimes be annoying to manage, so we've opted to 
  give you this starter CSS. Feel free to modify it as you wish, though.
*/

.repl {
  position: relative;
  min-height: 95vh;
}

.repl-history {
  height: 55vh;
  margin: auto;
  display: block;
  overflow: scroll;
}

.repl-input {
  margin: auto;
  height: 10vh;
}
.repl-command-box {
  width: 90%;
  margin: auto;
  display: block;
}
button {
  margin: auto;
  display: block;
}

.mode {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
  margin-top: 0.5em;
}

.mode button {
  margin: 0;
  margin-left: 1em;
  padding: 8px;
}

.command {
  margin-bottom: 1em;
}

table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-headers td {
  font-weight: bold;
  padding: 1em;
}

table td {
  padding: 1em;
}

.custom-cell {
  border: 1px solid white;
  padding: 8px;
}
